@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #2c2d2c;
    --color-secondary: #5d301c;
    --color-accent: #e55b1c;
    --color-background: #e2e6e6;
    --color-text: #1e1e1d;
    --color-muted: #5e5e5e;
    --color-border: #e0e0e0;
    --color-shadow: #0000001a;
    --color-white: #fefefe;
    --color-black: #000000;
  }
  body {
    @apply m-0 font-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  code {
    @apply font-mono;
  }
}

@layer components {
  
}

@layer utilities {
  
}
